.depend
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.ml4.d
version.ml

autom4te.cache
configure
Makefile
config.log
config.status
*.aux
*.glob
*.mllib.d
*.v.d
*.vo

coqthmdep
dpd2dot
dpdusage
Make_coq
CoqMakefile.conf
dpd_lex.ml
dpd_parse.ml
dpd_parse.mli
tests/*.log
tests/*.ok
tests/*.dot
tests/*.dpd
!tests/*.err.dpd
tests/*.glob
tests/Test.vo
