.depend
*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.mlg.d
version.ml
graphdepend.ml
searchdepend.ml

autom4te.cache
configure
Makefile
Make_coq.conf
.Make_coq.d
config.log
config.status
*.aux
*.glob
*.mllib.d
*.v.d
*.vo
*.vok
*.vos

coqthmdep
dpd2dot
dpdusage
Make_coq
CoqMakefile.conf
dpd_lex.ml
dpd_parse.ml
dpd_parse.mli
tests/*.log
tests/*.ok
tests/*.dot
tests/*.dpd
!tests/*.err.dpd
tests/*.glob
tests/Test.vo

META.coq-dpdgraph
